{% extends 'marketplace/base_marketplace.html' %}
{% block title %}{{ product.title }}{% endblock %}
{% block content %}
<div class="card market-card" style="max-width:720px">
  {% if product.image %}
    <img src="{{ product.image.url }}" alt="" style="width:100%;border-radius:12px;margin-bottom:8px">
  {% endif %}
  <h2>{{ product.title }}</h2>
  <p class="market-badge badge">{{ product.category }}</p>
  <p>{{ product.description|linebreaks }}</p>
  <p><b>{{ product.price }} ₸</b></p>
  <form method="post">
    {% csrf_token %}
    {{ form.quantity.label_tag }} {{ form.quantity }}
    <button class="btn market-btn">Добавить в корзину</button>
  </form>
</div>
{% endblock %}
